.sweet_success{
    font-family: Microsoft JhengHei,PMingLiU,arial;
    font-size: 22px;
    color: #51b061;
    font-weight: 700;
}
.sweet_failed{
    font-family: Microsoft JhengHei,PMingLiU,arial;
    font-size: 22px;
    color: #c7736f;
    font-weight: 700;

}

.sweet_warning{
    font-family: Microsoft JhengHei,PMingLiU,arial;
    font-size: 22px;
    color: #d69359;
    font-weight: 700;

}

.toast-top-center {
    top: 12%;
}

/*選單按鈕 */
.dis_menu_item{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.modify_btn{
    margin-right: 5px;
    margin-bottom: 2px;
}

.sub_btn{
    margin-right: 5px;
    margin-bottom: 2px;
}

.delete_btn{
    margin-right: 5px;
    margin-bottom: 2px;
}

.view_btn{
    margin-right: 5px;
    margin-bottom: 2px;
}

table{
    font-size: 11px;
}

.bootstrap-switch-mini{
    margin-right: 3px;
    height: 22px;
    margin-bottom: 2px;
}

/*後台麵包屑*/
.content-header>.breadcrumb>li>a {
    color: #2e7bb3;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #343435;
    content: "/\00a0";
}


label {
    font-weight: 600;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #000;
    background: #d8d7d7;
}

.form-group {
    margin-bottom: 15px;
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border-radius: 5px;
}

.do_sort{
    cursor: pointer;
}

.file_cropper{
    padding-right: 5px;
}

.parsley-required{
    color: #c3393e;
}

.parsley-type{
    color: #c3393e;
}